@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
Нормализация блочной модели
*/
*,
::before,
::after {
 box-sizing: border-box;
}

/**
 Убираем внутренние отступы слева тегам списков,
 у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
 padding-left: 0;
}

/**
 Убираем внешние отступы body и двум другим тегам,
 у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
 margin: 0;
}

/**
 Убираем внешние отступы вертикали нужным тегам,
 у которых есть атрибут class
*/
:where(
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul,
 ol,
 dl
):where([class]) {
 margin-block: 0;
}

:where(dd[class]) {
 margin-left: 0;
}

:where(fieldset[class]) {
 margin-left: 0;
 padding: 0;
 border: none;
}

/**
 Убираем стандартный маркер маркированному списку,
 у которого есть атрибут class
*/
:where(ul[class]) {
 list-style: none;
}

:where(address[class]) {
 font-style: normal;
}

a,button {
  color: var(--color-light);
  transition-duration: var(--transition-duration);
  text-decoration: none;
}

a:hover, button:hover {
  color: var(--color-blue);
}


button {
  background-color: transparent;
  outline: none;
  border: none;
}
/**
 Обнуляем вертикальные внешние отступы параграфа,
 объявляем локальную переменную для внешнего отступа вниз,
 чтобы избежать взаимодействие с более сложным селектором
/**
 Упрощаем работу с изображениями и видео
*/
img,
video {
 display: block;
 max-width: 100%;
 height: auto;
}

/**
 Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
 font: inherit;
}

html {
 /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
 height: 100%;
 /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
 scrollbar-gutter: stable;
}

/**
 Плавный скролл
*/
html,
:has(:target) {
 scroll-behavior: smooth;
}

body {
 /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
 min-height: 100%;
 /**
   Унифицированный интерлиньяж
  */
 line-height: 1.5;
}

/**
 Нормализация высоты элемента ссылки при его инспектировании в DevTools
*/
a:where([class]) {
 display: inline-flex;
}

/**
 Курсор-рука при наведении на элемент
*/
button,
label {
 cursor: pointer;
}

/**
 Приводим к единому цвету svg-элементы
 (за исключением тех, у которых уже указан
 атрибут fill со значением 'none' или начинается с 'url')
*/
:where([fill]:not(
 [fill="none"],
 [fill^="url"]
)) {
 fill: currentColor;
}

/**
 Приводим к единому цвету svg-элементы
 (за исключением тех, у которых уже указан
 атрибут stroke со значением 'none')
*/
:where([stroke]:not(
 [stroke="none"],
 [stroke^="url"]
)) {
 stroke: currentColor;
}

/**
 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
 transition-property: fill, stroke;
}

/**
 Приведение рамок таблиц в классический 'collapse' вид
*/
:where(table) {
 border-collapse: collapse;
 border-color: currentColor;
}

/**
 Удаляем все анимации и переходы для людей,
 которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
 *,
 ::before,
 ::after {
   animation-duration: 0.01ms !important;
   animation-iteration-count: 1 !important;
   scroll-behavior: auto !important;
 }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

:root {
  --color-light: #ffffff;
  --color-black: #000000;
  --color-blue: #0045ff;
  --color-gray: #757575;
  --container-padding-x: 60px;
  --container-width: 1440px;
  --font-family-base: 'Inter', sans-serif;
  --header-height: 178px;
  --transition-duration: 0.3s;
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(13px, 1.38vw, 19px);
  font-weight: 400;
  background-color: var(--color-black);
  color: var(--color-light);
  line-height: 1.75;
  margin-inline: var(--container-padding-x);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-right: var(--container-padding-x);
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr auto;
  grid-row: var(--header-height);
  column-gap: 85px;
}

.header-logo {
  grid-column-start: 1;
  font-size: 2.25rem;
  line-height: 0.75;
}

.header-menu {
  grid-column-start: 2;
}

.header-button {
  grid-column-start: 4;
}

.header-menu-list {
  display: flex;
  padding-inline: 25px;
  column-gap: 50px;
}

.header-menu-link, .header-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 178px;
  font-size: 1.188rem;
  text-wrap: nowrap;
}

.header-menu-link::after, .header-button::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.banner {
  padding-block: 30px;
  display: flex;
}

.banner-title {
  font-size: min(7.778vw, 112px);
  line-height: 1.2;
  text-align: left;
  max-width: 60%;
  font-weight:400;
  float: left;
  letter-spacing: 1.5;
}

.banner-description {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: min(2.2vw, 21px);
  line-height: 1.35;
  max-width: 30%;
  align-self: center;
  float: right;
}

.strong {
  background-color: var(--color-blue);
  color: var(--color-light);
}

.quore {
  height: 144px;
  display: flex;
  column-gap: 60px;
  align-items: flex-end;
  border-left: 1px solid var(--color-light);
}

.text {
  margin: 0;
  padding-inline: 16px;
  font-size: 18px;
  font-weight: 400;

}

.ours-ambition {
  padding-block: 220px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-center;
  column-gap: 5px;
}

.noi {
  font-size: 15px;
  line-height: calc(42px * 1.2);
  text-wrap: nowrap;
  flex: 0 1 auto;
}

.appasion {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  flex: 0 1 auto;
  max-width: 620px;
}
.appasion-header{
  font-weight: 400;
  font-size: clamp(25px, 3vw, 42px);
  line-height: 1.2;
}

.appasion-description {
  font-size: clamp(16px, 1.38vw, 20px);
  font-weight: 400;
  display: inline-flex;
  flex-direction: column;
  line-height: 1.3;
  row-gap: 16px;
}

.de_line {
  min-width: 450px;
  display: inline-flex;
  align-items: center;
  height: calc(42px * 1.2);
  flex: 1 1 auto;
  padding-left: 150px;
}

.line{
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: var(--color-light);
}

.blue{
  color: var(--color-blue);
}

.services{
  padding-top: 26px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  row-gap: 50px;
  border-top: 1px solid var(--color-light);
}

.services-lists{
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.services-lists > arcticle{
  max-width: 330px;
}

.services-title{
  font-size: clamp(28px, 2.22vw, 32px);
  font-weight: 400;
  line-height: 1;
}

.service-card-title{
  display: inline-flex;
  flex-direction: column;
  font-size: clamp(20px, 1.94vw, 28px);
  line-height: 1.3;
  font-weight: 400;
  padding-bottom: 20px;
}
.service-card-title::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-light);
}

.brand-design-item, .web-design-item, .copywriting-item{
  font-size: clamp(14px, 1.52vw, 22px);
  line-height: 1.8;
  text-wrap: nowrap;
}

p{
  margin: 0;
}

.text-block{
  max-width: 100%;
  min-height: calc(77vw * 1.65);
  display: flex;
  justify-content: flex-end;
}

blockquote{
  position: absolute;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 2;
  align-self: center;
  text-align: left;
  right: 0;
}

.plus {
  font-size: clamp(70px, 7.57vw, 109px)!important;
  line-height: 1;
}

blockquote p{
  line-height: 1.2;
  font-size: clamp(30px, 5.69vw, 82px);
  max-width: 90%;
}
blockquote cite{
  font-style: normal;
  font-size: 19px;
}

.background {
  overflow-x: hidden;
  position: relative;
  width: 77vw;
  float: right;   
}

.background img{
  position: absolute;
  right: 0;
  min-width: 107%;
  height: 100%;
  object-fit: cover;
}

.loopnumbers{
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.loopnumber-item{
  max-width: 432px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding-right: 20px;
}
.number{
  font-size: clamp(80px, 7.36vw, 106px);
  line-height: 1.2;
}
.loopnumber-item p:nth-child(even){
  font-size: clamp(15px, 1.38vw, 20px);
}


.design{
  margin-top: 188px;
  display: flex;
  column-gap: 150px;
  border-top: 1px solid var(--color-light);
}

.design h2{
  margin-top: 20px;
  color: var(--color-blue);
  font-weight: 400;
}

.table{
  display: flex;
  flex-wrap: wrap;
}

.row{
  flex-basis: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 141px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-light);
}

.row p{
  font-size: clamp(14px, 1.32vw, 19px);
}
.name{
  grid-column: 1;
}
.desc{
  text-transform: lowercase;
  grid-column: 2;
}


.row .plus{
  grid-column: 4;
}

.border{
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--color-light);
}

.add, .invia{
  display: grid;
  place-content: center;
  border: 1px solid currentColor;
  border-radius: 100px;
}

.add{
  margin-top: 75px;
  width: clamp(250px, 31.25vw, 450px);
  height: clamp(85px, 8.72vh, 106px);
  font-size: 60px;
}

.awards{
  border-top: 1px solid var(--color-light);
  display: flex;
  column-gap: 40px;
}

.awards h2{
  margin: 0;
  padding-top: 25px;
  color: var(--color-blue);
  font-size: 31px;
  font-weight: 400;
}
.awards-container{
  padding-top: 60px;
  display: flex;
  min-width: 90%;
  column-gap: 40px;
  row-gap: 50px;
  flex-wrap: wrap;
}

.awards-list li{
  font-size: clamp(15px, 1.32vw, 19px);
}

.awards-container > article{
  flex-basis: 200px;
  display: flex;
  row-gap: 34px;
  flex-direction: column;
}

.letters{
  border-top: 1px solid var(--color-light);
  margin-block: 200px;
}

.letters h2{
  color: var(--color-blue);
  font-size: clamp(25px, 2.15vw, 31px);
}

.letters > p {
  font-size: clamp(17px, 1.6vw, 23px);
}

.posts{
  padding-top: 146px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 40px;
}

.posts img {
  width: 100%;
  object-fit: contain;
}

.text-container{
  display: flex;
  row-gap: 20px;
  justify-content: space-between;
}

.text-container .plus{
  flex-basis: auto;
}

.text-container p{
  font-size: clamp(16px, 1.38vw, 20px);
  flex-basis: 40%;
}

.posts .add {
  justify-self: center;
  grid-column: -1/1;
}

.contact{
  border-top: 1px solid var(--color-light);
  padding-top: 20px;
  margin-bottom: 55px;
}

.contact-header{
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.contact-header h2{
  font-size: min(7.778vw, 112px);
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.contact-links{
  display: flex;
  gap:20px 30px;
}

.contact-links a{
  display: inline-flex;
  flex-direction: column;
  font-size: clamp(20px, 2vw, 28px);
}

.contact-links a::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
form{
  margin-left: 330px;
}

.form-inner{
  padding-block: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41px 30px;
}


select{
  background-image: url(icons/plus.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-size: 20px;
}

.input{
  transition-duration: 0.3s;
}

textarea{
  grid-column: 1/-1;
}

.input, textarea{
  appearance: none;
  padding-bottom: 10px;
  background-color: transparent;
  color: var(--color-light);
  border: none;
  border-bottom: 1px solid currentColor;
}
.input:focus{
  outline: none;
  color: var(--color-blue);
}

textarea:focus{
  outline: none;
}

option{
  color: var(--color-black);
}

.submit{
  display: flex;
  align-items: center;
  column-gap: 132px;
  row-gap: 30px;
  justify-content: space-between;
}

.checkbox label{
  font-size: clamp(14px, 1.2vw, 17px);
}

.checkbox label a{
  text-decoration: underline;
}

.checkbox{
  display: inline-flex;
  flex-wrap: wrap;
}

.checkbox-inner{
  flex-basis: 100%;
}

.invia{
  font-size: clamp(22px, 2vw, 28px);
  min-width: 210px;
  height: 72px;
}

.check{
  width: 22px;
  aspect-ratio: 1;
}

footer{
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  padding-block: 42px;
  border-top: 1px solid var(--color-light);
  font-size: clamp(13.5px, 1.11vw, 16px);
}

@media (min-width: 1200px) {
  .text-block{
    max-width: 100%;
    min-height: auto;  
  }
  .prometheus{
    background-image: url(images/sculp.jpg);
  }
  .sculpture{
    background-image: url(images/home-quote-desktop.webp);
  }
  blockquote{
    position: static;
    padding-block: 80px;
    background-repeat: no-repeat;
    background-position: center right;
    background-clip: border-box;
    background-size:contain;
  }
  
  .background{
    display: none;
  }
  
}

@media(max-width: 1306px){
  .ours-ambition{
    flex-wrap: wrap;
  }
  .appasion{
    order: 1;
  }
  .de_line{
    padding-left: 0;
  }
  .services{
    flex-direction: column;
  }
  .services-lists{
    justify-content: space-between;
    column-gap: clamp(20px, 5.21vh, 75px);
    row-gap: 45px;
    flex-wrap: wrap-reverse;
  }
  .brand-design{
    order: 1;
  }
  form{
    margin-left: 175px;
  }
}

@media (max-width: 1060px){
  .header {
      padding-top: 10px;
      grid-template-columns: 1fr auto;
      grid-template-rows: 40px auto;
      column-gap: 15px;
      row-gap: 10px;
  }

  .header-menu {
      grid-column: span 2;
      grid-row: 2;
      justify-self: center;
  }
  .header-button {
      grid-column: 2;
      grid-row: 1;
  }

  .header-menu-link, .header-button {
    height: 40px;
  }

  .appasion-header{
    text-wrap: wrap;
  }
  form{
    margin-left: 85px;
  }
  .submit{
    column-gap: 50px;
  }
  select{
    background-size: 14px;
  }
  footer{
    flex-wrap: wrap;
  }

}

@media(max-width: 775px){
  .design{
    flex-wrap: wrap;
  }
  .row{
    column-gap: 15px;
  }
  .letters{
    margin-bottom: 100px;
  }
  .posts{
    padding-top: 110px;
    grid-template-columns: 1fr;
  }
  form{
    margin-left: 0;
  }

}

@media(max-width: 930px){
  blockquote{
    flex-wrap: wrap;
  }

  blockquote p{
    max-width: 100%;
  }
}

@media(max-width:680px){
  .de_line{
    min-width: 0;
  }
  .appasion{
    row-gap: 35px;
  }
  .ours-ambition{
    padding-block: 110px;
  }
  .design, .letters{
    margin-top: 110px;
  }
  .contact-header{
    flex-wrap: wrap;
  }
  .invia{
    min-width: min(22vw, 150px);
  }
}

@media(max-width: 550px) {
  :root{
    --container-padding-x: 40px;
  }
  .text-container{
    flex-wrap: wrap;
  }
  .text-container p:nth-child(2){
    order: 1;
    flex-basis: 100%;
  }

  .quore {
    column-gap: 30px;
  }

  .form-inner{
    grid-template-columns: 1fr;
    max-width: 450px;
  }

  .header-menu-list {
    column-gap: 25px;
    padding-inline: 0;
  }
  .awards{
    flex-wrap: wrap;
  }
  .submit{
    flex-wrap: wrap;
  }
  .invia{
    min-width: 80%;
  }


}

@media(max-width: 400px){
  html{
    font-size: 70%;
  }

    :root{
    --container-padding-x: 15px;
  }

  .header-menu-list {
    column-gap: 25px;
    padding-inline: 0;
  }

  .quore {
    margin-inline: 15px;
  }

  .contact-links{
    flex-wrap: wrap;
  }
}
